# Copy this to terraform.tfvars and fill in your values
# NEVER commit terraform.tfvars — it's git-ignored

environment   = "dev"
aws_region    = "ap-southeast-2"
key_pair_name = "your-ec2-keypair-name"
your_ip_cidr  = "YOUR_IP/32"
db_password   = "your-rds-password"
